<div class="modal-header">
  <h3>Change Version</h3>
</div>

<div class="modal-body">
  <div notifications-panel></div>

  <div ng-hide="status === 'SUCCESS' || status === 'FAILED'">
    <p>Change the version of all running instances to a new version.</p>
    
	<p>INSERT DROPDOWN TO SELECT VERSION HERE</p>
	
	{{processInstance.id}}

  </div>

  <div ng-show="status === 'SUCCESS'">
    The number of retries of all failed jobs associated with the selected job definition has been incremented successfully.
  </div>

  <div ng-show="status === 'FAILED'">
    The number of retries of all failed jobs associated with the selected job definition could not be incremented successfully.
  </div>

</div>

<div class="modal-footer">
  <button class="btn"
          ng-click="close(status)"
          ng-disabled="status === 'PERFORM'"
          ng-hide="status === 'SUCCESS' || status === 'FAILED'">Close</button>

  <button type="submit"
          class="btn btn-primary"
          ng-click="incrementJobRetries()"
          ng-hide="status === 'SUCCESS' || status === 'FAILED'"
          ng-disabled="status === 'PERFORM'">Retry</button>

  <button class="btn btn-primary"
          ng-click="close(status)"
          ng-show="status === 'SUCCESS' || status === 'FAILED'">OK</button>
</div>
