<div>
  <h1>Deployments</h1>
    <p>Number of all deployments: <b>{{deploymentCounter.count}}</b>
    </p>
    <form class="form-inline" ng-submit="findDeployments();">
      <div class="input-group">
        <span class="input-group-addon">Deployment after:</span>
        <input type="text" class="form-control" placeholder="deployed after" datepicker-popup="{{format}}" ng-model="deployedAfter" is-open="openedDeployedAfter" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />
        <span class="input-group-addon ng-scope">00:00</span> 
        <span class="input-group-btn ng-scope">
          <button type="button" class="btn btn-default" ng-click="open($event, 'openedDeployedAfter')"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></button>
        </span>
      </div>
      <div class="input-group">
        <span class="input-group-addon">before:</span> 
        <input type="text" class="form-control" placeholder="deployed before" datepicker-popup="{{format}}" ng-model="deployedBefore" is-open="openedDeployedBefore" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />
        <span class="input-group-addon">23:59</span> 
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open($event, 'openedDeployedBefore')"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></button>
        </span>
      </div>
      <div class="input-group">
        <span class="input-group-btn">
          <button type="submit" name="Search" class="btn">Search Deployments</button>
        </span>
      </div>
    </form>
  <p>
<style>.table-no-border>thead>tr>th, 
.table-no-border>tbody>tr>th, 
.table-no-border>tfoot>tr>th, 
.table-no-border>thead>tr>td, 
.table-no-border>tbody>tr>td, 
.table-no-border>tfoot>tr>td {
  border: none; 
}</style>    
  <table class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Deployment with Process Definitions</th>
        <th>Running Process Instances</th>
        <th>Deployment Time</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="deployment in deployments">
        <td>
        
        <div>
          {{ deployment.name }}
           <table class="table table-no-border">
	          <tr data-ng-repeat="processDefinition in deployment.processDefinitions">
		      <div><td><a href="#/process-definition/{{processDefinition.id}}">{{processDefinition.name}}</a></td><td> Version {{processDefinition.version}}</td></div>
		      </tr>
           </table>
        </div>

        </td>
        <td>{{ deployment.runningInstances }}</td>
        <td>{{ deployment.deploymentTime }}</td>
        <td>
          <a 
            class="btn action-button"
            href ng-click="openDeleteDeploymentDialog()"
            ng-model="deployment"
            tooltip-placement="left"
            tooltip="Delete Deployment">
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
